# 对比两篇文献的数据

In [41]:
import pandas as pd

In [42]:
df1=pd.read_csv("./data/GT1/GT-2891-1.txt",sep=' ',header=None)

In [52]:
df2=pd.read_csv("./data/GT1/GT-2891.txt",sep=' ',header=None)

In [64]:
df1

,0,1,2
0,O=C1C=C(C2=CC=CC=C2)OC3=C1C(O)=C(C(O)=C3)O,MGKQEDAELVIIPFPFSGHILATIELAKRLISQDNPRIHTITILYW...,0
1,O=C1C=C(C2=CC=CC=C2)OC3=C1C(O)=C(C(O)=C3)O,MAKQQEAELIFIPFPIPGHILATIELAKRLISHQPSRIHTITILHW...,0
2,O=C1C=C(C2=CC=CC=C2)OC3=C1C(O)=C(C(O)=C3)O,MKAEAEIIFVTYPSPGHLLVSIEFAKSLIKRDDRIHTITILYWALP...,1
3,O=C1C=C(C2=CC=CC=C2)OC3=C1C(O)=C(C(O)=C3)O,MNKFALVFVPFPILGHLKSTAEMAKLLVEQETRLSISIIILPLLSG...,1
4,O=C1C=C(C2=CC=CC=C2)OC3=C1C(O)=C(C(O)=C3)O,MKIELVFIPSPAISHLMATVEMAEQLVDKNDNLSITVIIISFSSKN...,1
...,...,...,...
2842,C[C@@H]1CC([C@@]2(O)[C@@](O[C@]3([H])[C@@H](O)...,MEEKPARRSVVLVPFPAQGHISPMMQLAKTLHLKGFSITVVQTKFN...,0
2843,C[C@@H]1CC([C@@]2(O)[C@@](O[C@]3([H])[C@@H](O)...,MEEKPAGRRVVLVAVPAQGHISPIMQLAKTLHLKGFSITIAQTKFN...,0
2844,C[C@@H]1CC([C@@]2(O)[C@@](O[C@]3([H])[C@@H](O)...,MASHAVTSGQKPHVVCIPFPAQGHINPMLKVAKLLYARGFHVTFVN...,0
2845,C[C@@H]1CC([C@@]2(O)[C@@](O[C@]3([H])[C@@H](O)...,MEQHGGSSSQKPHAMCIPYPAQGHINPMLKLAKLLHARGFHVTFVN...,0
2846,C[C@@H]1CC([C@@]2(O)[C@@](O[C@]3([H])[C@@H](O)...,MTKPSDPTRDSHVAVLAFPFGTHAAPLLTVTRRLASASPSTVFSFF...,0

In [65]:
df1[2].value_counts()

0    2335
1     512
Name: 2, dtype: int64

In [47]:
print(len(df2[0].value_counts()),len(df2[1].value_counts()))

90 54

In [59]:
df2

,0,1,2
0,O=c1cc(-c2ccccc2)oc2cc(O)c(O)c(O)c12,MGKQEDAELVIIPFPFSGHILATIELAKRLISQDNPRIHTITILYW...,0.0
1,O=c1cc(-c2ccccc2)oc2cc(O)c(O)c(O)c12,MAKQQEAELIFIPFPIPGHILATIELAKRLISHQPSRIHTITILHW...,0.0
2,O=c1cc(-c2ccccc2)oc2cc(O)c(O)c(O)c12,MKAEAEIIFVTYPSPGHLLVSIEFAKSLIKRDDRIHTITILYWALP...,1.0
3,O=c1cc(-c2ccccc2)oc2cc(O)c(O)c(O)c12,MNKFALVFVPFPILGHLKSTAEMAKLLVEQETRLSISIIILPLLSG...,1.0
4,O=c1cc(-c2ccccc2)oc2cc(O)c(O)c(O)c12,MKIELVFIPSPAISHLMATVEMAEQLVDKNDNLSITVIIISFSSKN...,1.0
...,...,...,...
2886,CN[C@H]1[C@@H](O)[C@@H](NC)[C@H](O)[C@H]2O[C@@...,MASHAVTSGQKPHVVCIPFPAQGHINPMLKVAKLLYARGFHVTFVN...,1.0
2887,CN[C@H]1[C@@H](O)[C@@H](NC)[C@H](O)[C@H]2O[C@@...,MEQHGGSSSQKPHAMCIPYPAQGHINPMLKLAKLLHARGFHVTFVN...,1.0
2888,CN[C@H]1[C@@H](O)[C@@H](NC)[C@H](O)[C@H]2O[C@@...,MTKPSDPTRDSHVAVLAFPFGTHAAPLLTVTRRLASASPSTVFSFF...,1.0
2889,CN[C@H]1[C@@H](O)[C@@H](NC)[C@H](O)[C@H]2O[C@@...,MTKFSEPIRDSHVAVLAFFPVGAHAGPLLAVTRRLAAASPSTIFSF...,0.0
2890,CN[C@H]1[C@@H](O)[C@@H](NC)[C@H](O)[C@H]2O[C@@...,MSQTTTNPHVAVLAFPFSTHAAPLLAVVRRLAAAAPHAVFSFFSTS...,1.0

In [60]:
df2.index

RangeIndex(start=0, stop=2891, step=1)

In [63]:
str(list(df2[0][1]))

"['O', '=', 'c', '1', 'c', 'c', '(', '-', 'c', '2', 'c', 'c', 'c', 'c', 'c', '2', ')', 'o', 'c', '2', 'c', 'c', '(', 'O', ')', 'c', '(', 'O', ')', 'c', '(', 'O', ')', 'c', '1', '2']"

In [ ]:
[df2[0][col] for col in df2.index

In [32]:
intersected_df = pd.merge(df1, df2, how='inner',on=[0,1,2])
intersected_df

Empty DataFrame
Columns: [0, 1, 2]
Index: []